<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.rnplus.olv"
    android:versionCode="2"
    android:versionName="1.0.0.1" android:installLocation="internalOnly">
    
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- Needed for connection -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- Find my phone uses this -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/><!-- SMS receiver -->
	<uses-permission android:name="android.permission.RECEIVE_SMS"/><!-- SMS receiver -->
	<uses-permission android:name="android.permission.READ_SMS"/><!-- SMS receiver -->
	<uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" android:hardwareAccelerated="true" android:debuggable="false">
        <activity
            android:name=".LiveViewPreferences"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
            </intent-filter>
        </activity>
        <activity android:name=".LogViewActivity" />

        <service android:name=".service.LiveViewService" />
        
        <service
            android:name=".service.GetNotificationServiceJB"
            android:description="@string/accessibility_service_description"
            android:enabled="@bool/need_bind_accessibility_service_permission"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
        		android:name="android.accessibilityservice"
       			android:resource="@xml/accessibilityservice" />
        </service>
        
        <service
            android:name="nl.rnplus.olv.service.GetNotificationService"
            android:description="@string/accessibility_service_description"
            android:enabled="@bool/not_need_bind_accessibility_service_permission">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>

        <receiver android:name="nl.rnplus.olv.service.BTReceiver" >
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECT_REQUESTED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="nl.rnplus.olv.data.LiveViewDataProvider"
            android:authorities="nl.rnplus.olv" />

        <activity
            android:name="nl.rnplus.olv.HackActivity"
            android:label="@string/title_activity_hack"
            android:launchMode="singleInstance">
         </activity>  
            
        <activity
            android:name="nl.rnplus.olv.MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
            
        <activity
            android:name="nl.rnplus.olv.ConfigWizardActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleInstance">
        </activity>        
        
    </application>

</manifest>